# =============================
# OPENROUTER (IA)
# =============================
OPENROUTER_API_KEY=TU_API_KEY_OPENROUTER

# =============================
# TELEGRAM BOT
# =============================
TELEGRAM_TOKEN=TU_TOKEN_TELEGRAM
TELEGRAM_CHAT_ID=TU_CHAT_ID

# =============================
# MYSQL
# =============================
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=TU_PASSWORD
MYSQL_DATABASE=demo_facturas

# =============================
# PROCESADOR
# =============================
PROCESS_INTERVAL_SECONDS=10

# =============================
# EMAIL AUTOMATICO
# =============================
EMAIL_IMAP_HOST=imap.gmail.com
EMAIL_IMAP_PORT=993
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=APP_PASSWORD
EMAIL_FOLDER=INBOX
EMAIL_CHECK_INTERVAL_SECONDS=30